{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/tetherheaderwide.png",
      "fileBody" : "/interface/chests/tetherbodylarge.png",
      "fileFooter" : "/interface/chests/tetherfooterwide.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [44, 102],
      "dimensions" : [1, 1],
      "spacing" : [19, 19]
    },
    "lblInsertPod" : {
      "type" : "label",
      "value" : "Insert Pod",
      "hAnchor" : "mid",
      "color" : [126, 117, 102],
      "position" : [40, 143]
    },
    "btnReplaceShip" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/initiatejumpup.png",
      "hover" : "/interface/cockpit/initiatejumpover.png",
      "pressed" : "/interface/cockpit/initiatejumpdown.png",
      "position" : [25, 28],
      "pressedOffset" : [0, 0]
    }
  },
  "scriptWidgetCallbacks" : [
    "btnReplaceShip"
  ],
  "scripts" : [
    "/interface/chests/shiptethergui.lua"
  ],
  "scriptDelta" : 0
}
